@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');



.title {
    text-align: center; 
    font-Size: 1.6em;
    font-family: 'https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap'
}